.container{
    align-items:flex-start ;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content{
    flex-grow: 1;
    margin-left: 3rem;
    max-width: 750px;
    padding: 1rem;
    
}